<p><%= flash[:notice] %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:</h2>
        <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
      <%= form_with model: @user do |f| %>
      <label for="inputName">Name</label>
      <div class="form-group">
        <%= f.text_field :name, id:"inputName", class: 'form-control' %>
      </div>
      <label for="inputImage">Image</label>
      <div class="form-group">
        <%= f.file_field :profile_image, accept: "image/*" %>
      </div>
      <label for="inputIntroduction">Introduction</label>
      <div class="form-group">
        <%= f.text_area :introduction, id:"inputIntroduction", class: 'form-control' %>
      </div>
      <div class="action">
        <%= f.submit "Update User", class: 'btn btn-secondary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
