<p><%= flash[:notice] %></p>

<div class="container px-5 px-sm-0">
  <% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h2>
    <ul>
    <% @book.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="row">
    <%= render 'books/userinfo', book: @book, user: current_user %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <%= render 'index', users: @users %>
    </div>

  </div>
</div>