<div>
  <p>タイトル：<%= @book.title %></p>
  <p>内容：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag 'default-image.jpg' %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
  <%= link_to 'マイページ', user_path(current_user.id) %>
</div>