<div class="container px-5 px-sm-0">
  <% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h2>
    <ul>
    <% @book.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="row">
    <%= render 'userinfo', book: @new, current_user: @book.user, user: current_user %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %><br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <td class="favorites_buttons_<%= @book.id %>"><%= render 'favorites/btn', book: @book %></td>
            <td>コメント数: <%= @book.book_comments.count %></td>
            <td>
              <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success' %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-danger', "data-confirm" => "本当に消しますか？" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <%= render 'book_comments/index', book: @book %>
      <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>
